@import 'theme.css';

body {
    /* color: #083e8c; */
}

h1, h2, h3, h4, a, .page-item, .page-link, .pre {
    color: #083e8c ;
}
a.current.reference.internal, span.toctree.epxand, a:hover, .page-link:hover {
    color: #5bc0de;
}
.toc .current>a {
    color: #5bc0de;
}
.frame-background-dark a:not(.btn):not(.toc-toggle) {
    color: black;
}
.footer-meta-copyright {
    display: inline-block;
    margin-bottom: 0;
    color: #5bc0de
}
.toc .current>a>.toctree-expand {
    background-color: #083e8c;
    color: #fff;
}

.root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c6c6c;
    --gray-dark: #313131;
    --primary: #ff8700;
    --secondary: #6c6c6c;
    --success: #5cb85c;
    --info: #5bc0de;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --light: #f2f2f2;
    --dark: #313131;
}
