docs
inst/doc
vignettes/*.html
vignettes/figure/*chunk*
vignettes/*.R
src/dependencies
*.gcno
TAGS
*.o
*.so
*~
test
*.RData
*.Rhistory
*.Rcheck
*.tar.gz
*.zip
*.tgz
*.obsolete
x.log
nohup.out
tmp
valgrind*
test
*.tmp
*.bbl
*.blg
*.bak
*.snm
*.aux
*.log
*~
*.out
*.swp
*.nav
*.toc
*.vrb
*.dvi
_region*
symbols.rds
doc
Meta
