[submodule "lib/pybind11"]
	path = lib/pybind11
	shallow = true
	url = https://github.com/pybind/pybind11.git
[submodule "lib/armadillo"]
	path = lib/armadillo
	shallow = true
	url = https://gitlab.com/conradsnicta/armadillo-code.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	shallow = true
	url = https://github.com/gabime/spdlog.git
[submodule "lib/doctest"]
	path = lib/doctest
	shallow = true
	url = https://github.com/onqtam/doctest
