citest
notes.org
*.tmp
misc/*.csv
misc/functional

*.Rcheck
symbols.rds
Rplots*
.#*
examples/functional
examples/test
.Rhistory
examples/*.csv
doc/latex
doc/html
doc/xml
build
tmp
__pycache__

# Created by https://www.gitignore.io/api/c++
# Edit at https://www.gitignore.io/?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.gitignore.io/api/c++
