numpy>=1.15
pandas>=0.25.0
patsy>=0.5.0
scipy>=1.3
statsmodels>=0.10

coloredlogs>=10.0
pybind11>=2.4.2
pytest>=5.2.0
pytest-runner>=5.0
python-cpp-example==0.2
python-dateutil==2.8.0
flake8>=3.7.0
pytest-cov
sphinx
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-rtd-theme
m2r
mock
autodoc
