[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[build-system]
pip requirements
requires = ["setuptools>=47.1.1", "wheel>0.34.2"]
build-backend = "setuptools.build_meta"

[dev-packages]
breathe = ">=4.13.0"
exhale
pytest = "*"
flake8 = "*"
pytest-runner = "*"
pytest-cov = "*"
sphinx = ">=2.0"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
m2r = "*"
autodoc = "*"
coloredlogs = "*"
recommonmark = "*"
dotenv = "*"

[packages]
numpy = ">=1.15.0"
pandas = ">=0.25.0"
pathlib = ">=1.0.1"
nltk = ">=3.4.5"
python-dotenv= ">=0.11.0"


[requires]
python_version = ">=3.7"

