name: target tests

on: [push]

jobs:
  python_package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout repository incl. submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest-runner pytest-cov scipy patsy numpy pandas statsmodels codecov
      - name: Check
        run: |
          cd python-package/targeted
          python setup.py install
          python setup.py test
          python3 -m targeted
          pytest --cov=targeted tests/
          bin/test_targeted
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v1
        with:

  cpp_library:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository incl. submodules
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install dependencies
        run: |
          sudo apt-get install -y lcov
      - name: Unit tests
        run: |
          make test
      - name: Coverage
        run: |
          make coverage
          cd build/coverage; make coverage
          ./target_test -s
          bash <(curl -s https://codecov.io/bash)
